@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--<h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To Azure GitHub Better Together</h1>
    <p>We will learn Azure GitHub Integration.</p>-->
    <h1>Hi Carla, you alright?/<h1>
    <p>William</p>
</div>
